/* Move down content because we have a fixed navbar that is 50px tall */
html {
    color:#333;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h3 {
    font-size:1em;
}


.showLess {
    display: none;
}

.itemList ul {
    min-height: 8em;
    margin: 0;
    padding: 0 .5em;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.itemList li {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    list-style: none outside none;
    margin: .5em 0;
    padding: 0.25em .5em;
    background: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.itemList li:hover {
    background-color: #e0f6ff;
    box-shadow: 1px 1px 1px rgba(0,0,60,0.5)
    cursor: move;
}


.itemList li h4 {
    margin: 0;
    text-transform: capitalize;
}

.itemList li p {
    font-weight: 200;
}

.itemList hr{
    margin: 10px 0;
}

.itemList .address{
    color:#999;
    font-size: .75em;
    text-transform: capitalize;
}

.itemList .image {
    text-align: right;
}

.itemList .image img, img.thumb{
    border-radius: 10px;
    margin: 0 3px 3px 0;
}

.itemList img.thumb{
}